.drawer {
  height: calc(100vh - 40px) !important;
  width: 600px !important;
}

.drawerBody {
  padding-inline: 20px !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.card {
  margin-bottom: 10px !important;
  overflow: visible !important;
}

.editTask {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.editStep {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100% !important;
}

.divider {
  width: calc(100% + 25px) !important;
  margin-left: -13px !important;
}

.cardFooter {
  display: flex !important;
  justify-content: flex-start !important;
}

.inputStep {
  width: calc(100% - 64px) !important ;
  margin-left: -13px !important;
}

.drawerFooter {
  display: flex !important;
  flex-direction: column !important;
}

.drawerFooterContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
