html,
body,
#__next {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.f1euv43f {
  left: 28.2477px !important;
}

.fui-FluentProvider.fui-FluentProviderR4m.Home_fluentProvider__facAt.___1bsm0mz_h39jby0.f19n0e5.fxugw4r.f1o700av.fk6fouc.fkhj508.figsok6.f1i3iumi.f1euv43f.f15twtuk.f1vgc2s3.f1e31b4d.f494woh {
  background-color: rgba(0, 0, 0, 0) !important;
  top: 40px !important;
}

.fui-OverlayDrawer {
  top: 40px !important;
}
.r10z3gsy {
  padding-top: 20px !important;
}
